<form name="form1" method="post" action="">
  <table width="307" border="1">
    <tbody>
      <tr>
        <td width="40">First Name</td>
        <td width="144"><input type="text" name="textfield" id="textfield"></td>
      </tr>
      <tr>
        <td>Contact No.</td>
        <td><input type="number" name="number" id="number"></td>
      </tr>
      <tr>
        <td>Person Cuming for Cosplay</td>
        <td><input type="number" name="number2" id="number2"></td>
      </tr>
      <tr>
        <td>Email</td>
        <td><input type="email" name="email" id="email"></td>
      </tr>
    </tbody>
  </table>
  <p>
    <input type="submit" name="submit" id="submit" value="Submit">
    <input type="reset" name="reset" id="reset" value="Reset">
  </p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
</form>
