<!doctype html>
<html><!-- InstanceBegin template="/Templates/tz.dwt" codeOutsideHTMLIsLocked="false" -->
<link href="asd.css" rel="stylesheet" type="text/css" />
<head>
<meta charset="utf-8">
<!-- InstanceBeginEditable name="doctitle" -->
<title>Untitled Document</title>
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
</head>

<body>
<div id="Banner">
    <h1>CosPlay</h1>
   <p>Cosplay, a portmanteau of the words costume play, is a performance art in which participants called cosplayers wear costumes and fashion accessories to represent a specific character. Cosplayers often interact to create a subculture and a broader use of the term "cosplay" applies to any costumed role-playing in venues apart from the stage. Any entity that lends itself to dramatic interpretation may be taken up as a subject and it is not unusual to see genders switched. Favorite sources include manga and anime, comic books and cartoons, video games, and live-action films and television series.

The rapid growth in the number of people cosplaying as a hobby since 1990 has made the phenomenon a significant aspect of popular culture in Japan and some other parts of Asia and in the Western world. Cosplay events are common features of fan conventions and there are also dedicated conventions and local and international competitions, as well as social networks, websites and other forms of media centered on cosplay activities.
</p> 
</div>
<div id="Nav_Bar">
    <h2><a href="home.html">Home</a>         <a href="announcement.html">Announcement</a>     <a href="prices.html">Prices</a>              <a href="links.html">Links</a>     <a href="party_guidelines.html">PartyGuidelines</a>         <a href="contacts.html">Contacts</a>     <a href="signup.html">Sign-Up</a> </h2>
</div>
<!-- InstanceBeginEditable name="EditRegion1" -->
<div id="Main_content">
  <p>Training Zone have been the leader in all kinds of training that covers management and IT in Plongk St, Cairnsville for the last 150 years. The founder of the company, Touglas Zonas is still CEO and spokesperson for Training Zone. Here is one of his first ever training lessons, the world-famous Lecture Clash training:
Anyone got a lecture clash? They're not pretty, but with your help, they can be manageable. Here are some thoughts on how to deal with it: 
	 <li> Realise that it's up to you. You are responsible for making it work. </li>
<li> Attend one lecture and get the notes from the other (start with the web notes, but that's not enough). </li>
<li>Find a friend in the one you miss and get them to tell you what else was covered in class that's not on the web. </li>
	  <li> Which one do you miss? - Some ideas to help you with that decision are: </li>
o	If you miss one out of two lectures for a subject, that's 50%. If you miss one out of 3 that's 33%. <br>
o	Which one are you most on top of? <br>
o	Which subject has the most complete lecture notes
<li> Don't ask your lecturer - "did I miss anything in the lecture?" If you didn't miss anything, there'd be no point to lectures.</li>

	</p>
</div>
<!-- InstanceEndEditable -->
</body>
<!-- InstanceEnd --></html>
